.bg-dark{
    background-color: #0F2105 !important;
}

.navbar-brand{
    width: 170px;
    height: 60px;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 28px;
}
.navbar-dark .navbar-nav .nav-link{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-item{
    margin: 0.15px;
}
p{
    color: #FFFFFF;
    line-height: 20px;
}
h2,h3{
    color: #FFFFFF;
}
h2{
    font-size: 18px;
}
.footer-top{
    background: #0F2105;
    padding: 60px 0;
}
.segment-one h3{
    font-family: Lora;
    color: #FFFFFF;
    letter-spacing: 3px;
    margin: 10px 0;
}
.segment-two h2{
    color: #FFFFFF;
    font-family: Lora;
    text-transform: uppercase;
}
.segment-two h2:before {
     content: '|';
     color: #c65039;
     padding-right: 10px;
}
.segment-two ul {
    color: #FFFFFF
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom:  1px solid rgba(255,255,255,0.3);
    line-height:  40px;
}
.segment-two ul li a{
     color:  #999;
     text-decoration: none;
}
.segment four h2 {
    color: #FFFFFF;
    font-family: Lora;
    text-transform: uppercase;
}
.segment-four h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-four form input[type = submit]{
    background: #0F2105;
    border: none;
    padding: 3px 15px;
    margin-left: -10px;
    color: #2BDE73;
    text-transform: uppercase;

}
.aboutus{
    padding: 55px 0;
    text-align: center;
    background-color: #FFFFFF;
}
.aboutus h1{
    font-style: 45px;
    margin-bottom: 55px;
    color: #0F2105;
}
.services{
    padding: 5px 0;
    text-align: center;
    background-color: #FFFFFF;
}
.services h1{
    font-size: 45px;
    margin-bottom: 55px;
    color: #0F2105;
}
.services .Container{
    margin: 0 auto 40px;
padding: 125px;
padding-right: 125px 0;
}
.services .card + .card{
    margin: 0 0 0 20px;
}
.services .card{
    height: 300px;
    width: 300px;
border: 3px solid #2BDE73;
}
.services.card-body{
    padding: 1.25rem 9rem;
    background-color: #2BDE73;
}
.services .card-body .card-title{
    color: #0F2105;
    font-weight: 700;
}
.services .card-body .card-text{
    color: #FFFFFF;
}
.services.btn-primary{
    color: #FFFFFF;
    background-color: #04204a;
    border-color: #0062cc;
}
.services .btn-primary:hover{
    color: #FFFFFF;
    background-color:  #0062cc;
    border-color: #0062cc;

}
.card body {
  font-family: sans-serif;
  font-size: 1.5rem;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}