* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.logo {
    height: 13%;
    width: 28%;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(../img/logo.png);
}

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;

}

.form-box {
    width: 380px;
    height: 430px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    border: 1px;
    border-radius: 30px;
    padding: 5px;
    overflow: hidden;
}

.button-box {
    width: 230px;
    margin: 40px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;   
}

.toggle-btn {
    padding: 30px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, #32CD32, #00FF00);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 10px;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn {
    width: 80%;
    padding: 10px 30px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #32CD32, #00FF00);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 70px;
    position: absolute;
}
#login{
    left: 50px;

}
#register {
    left: 450px;
}